{% extends "base.html" %}
{% block title %} Account Settings {% endblock %}

{%block content%}

{% if user.is_authenticated %}
<h3 align="center">Account Settings</h3>
<br>
<h5 align="center">
    Input the new account info into the form below. 
    You can change one or more at the same time. 
    You may leave blank what you wish to remain the same.
</h5>
<form action="" method="POST">
    {{ form.csrf_token }}

    <table class="table table-dark table-striped table-bordered">
        
        <br/>    
            <thead>
                <th>Setting to change</th>
                <th>Current</th>
                <th>Change</th>
                <th>Confirm Changes</th>
                
            </thead>
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>
                        <p>{{ user.firstName}}</p>                   
                    </td>
                    <td>
                        {% for error in form.newFirstName.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.newFirstName(class="form-control", autocomplete="off", placeholder="Enter new first name") }}
                    </td>
                    <td>
                        {% for error in form.confirmNewFirstName.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.confirmNewFirstName(class="form-control", autocomplete="off", placeholder="Confirm new first name") }}
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td> {{ user.lastName }}</td>
                    <td>
                        {% for error in form.newLastName.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.newLastName(class="form-control", autocomplete="off", placeholder="Enter new last name") }}
                    </td>
                    <td>
                        {% for error in form.confirmNewLastName.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.confirmNewLastName(class="form-control", autocomplete="off", placeholder="Confirm new last name") }}
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> {{ user.email }}</td>
                    <td>    
                        {% for error in form.newEmail.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.newEmail(class="form-control", autocomplete="off", placeholder="Enter new email address") }}
                    </td>
                    <td>
                        {% for error in form.confirmNewEmail.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.confirmNewEmail(class="form-control", autocomplete="off", placeholder="Confirm new email address") }}
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>************</td>
                    <td>
                        {% for error in form.newPassword.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.newPassword(class="form-control", autocomplete="off", placeholder="Enter new password") }}
                    </td>
                    <td>
                        {% for error in form.confirmNewPassword.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
                        {{ form.confirmNewPassword(class="form-control", autocomplete="off", placeholder="Confirm new password") }}
                    </td>
                </tr>
            </tbod>
            <p>
        
            </p>
    </table>
    <p align="center"1>{{ form.submit(class="btn btn-primary") }}</p>

</form>
{%else%}
<br>
<br>
<br>
<h2 align="center">Please <a href="/login"> Sign in </a> to use this page</h2>
{%endif%}
{%endblock%}