<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="../statics/css/main.css"
            type="text/css"
            crossorigin="anonymous"
        />

        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <p class="nav-tem nav-link" id="welcome">Welcome {{user.firstName}} </p>
                    {% endif %}

                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    <a class="nav-item nav-link" id="resume" href="/resume">Resume</a>
                    <a class="nav-item nav-link" id="cover_letter" href="/cover_letter">Cover Letter</a>
                    <div class="dropdown navbar-dark bg-dark">
                        <a class="nav-item nav-link" data-toggle="dropdown">Projects </a>
                        <ul class="dropdown-menu navbar-dark bg-dark" outline="none">
                            <li><a class="dropdown-item nav-link nav-item bg-dark" href="/password_manager">Password Manager</a></li>
                            <li><a class="dropdown-item nav-link nav-item bg-dark" href="/snake">Snake</a></li>
                            <li><a class="dropdown-item nav-link nav-item bg-dark" href="/spotify">Spotify Overlay</a></li>

                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" id="account" href="/account_settings">Account Settings</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout </a>
                    {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    {% endif %}
                    <a class="nav-item nav-link" id="contact_me" href="/contact_me">Contact Me</a>
            </div>
        </nav>


            {% for category, msg in get_flashed_messages(with_categories=True) %}
                {% if category == 'error'%}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif%}
            {% endfor %}



        <div class="container">
            {%block content%}

            {%endblock%}
        </div>
        <div>
            <p align="center">© Jordan Williams 2024</p>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>

















</html>