{% extends "base.html" %}
{% block title %} Cover Letter {% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;"> <a href= "https://drive.google.com/uc?export=download&id=1qn2VubLHIUIjIl1VSlvj-Y0YV87dGT5-">Cover Letter </a></h2>
<br>
<p align="center">If on mobile, click the above link to download</p>
<br>
<div class="embed-responsive  embed-responsive-1by1">
<iframe class="embed-responsive-item" src="/statics/pdf_files/Jordan_Williams_Cover_Letter.pdf"
width="100%" height="100%" allow="autoplay"></iframe>
</div>
<br>
<br>
{% endblock %}