{% extends "base.html" %}
{% block title %} Cover Letter {% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;" class="myHeader"> Cover Letter </a></h2>
<br>
<p align="center"id="resume_info" class="textbg"><a href= "./statics/pdf_files/Jordan_Williams_Cover_Letter_.pdf" download="Jordan Williams Cover Letter">If on mobile, tap here to download</a></p>
<br>
<div class="embed-responsive  embed-responsive-1by1">
<iframe class="embed-responsive-item" src="/statics/pdf_files/Jordan_Williams_Cover_Letter_.pdf"
width="100%" height="100%" allow="autoplay"></iframe>
</div>
<br>
<br>
{% endblock %}