{% extends "base.html" %}
{% block title %} Reset Email {% endblock %}

{%block content%}

{% if user.is_authenticated %}
    <form action="" method="POST">
        <br/>
        <h3 align="center">Edit Saved Password</h3>
            {{ form.csrf_token }}
        
        <p>
            {% for error in form.websiteAppName.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.websiteAppName.label }}
            {{ form.websiteAppName(class="form-control", value=passwordData.websiteAppName) }}
        </p>

        <p>
            {% for error in form.username.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.username.label }}
            {{ form.username(class="form-control", value=passwordData.username) }}
        </p>

        <p>
            {% for error in form.email.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.email.label }}
            {{ form.email(class="form-control", value=passwordData.email) }}
        </p>

        <p>
            {% for error in form.password.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.password.label }}
            {{ form.password(class="form-control", value=passwordData.password) }}
        </p>

        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
        
    </form>
{% else %}
    <h3>
    </h3>

{% endif %}
{% endblock %}