{% extends "base.html" %}
{% block title %} Home {% endblock %}

{%block content%}
<br>
<h1 style="text-align: center;">About Me</h1>
<div class="container table-responsive-md">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <tbody>
		    <tr>
		      <td>
                <p style="width:40vw;">
                    Hello, my name is Jordan Williams. I am a computer science student at Washington State University,
                    aspiring to be a software developer. My hobbies include playing video games such as League of Legends and Overwatch,
                    as well as reading. My strengths are that I'm a fast learner, I work well with people and I communicate effectively.
                    My weaknesses would be that I struggle to assert myself when my authority is challended.
                    I can also lack confidence in my abilities and thus I am prone to self-doubt. Be sure to check out my resume and projects.
                    I hope I can be an impressive applicant and that we can work together soon. Thank you for your consideration.

                </p>
            </td>
		      <td>
                <img class="img-fluid img-thumbnail" src="statics/images/Jordan_Selfie.png" alt="selfie of me">
              </td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </div>
</div>

{%endblock%}
