{% extends "base.html" %}
{% block title %} Home {% endblock %}

{%block content%}
<br>
<h1 style="text-align: center;">About Me</h1>

<p>
<img class="selfie img-fluid img-thumbnail" src="statics/images/Jordan_Selfie.png" alt="selfie of me">
</p>
<h6 class="aboutMe">
    Hello, my name is Jordan Williams. Welcome to my website which showcases my portfolio of personal projects. I built this site using Flask.
    I am a computer science student at Weber State University, aspiring to be a software engineer. My hobbies include playing video games
    such as League of Legends and Overwatch, as well as reading. My strengths are that I'm a fast learner, I work well with people and I communicate effectively.
    I am great at both following instruction, as well as solving problems on my own. Be sure to check out my resume and projects.
    I hope I can be an impressive applicant and that we can work together soon. Thank you for your time and consideration.
</h6>



{%endblock%}
