{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}

{%block content%}

{% if user.is_authenticated %}
    <form action="" method="POST">
        <br/>
        <h3 align="center">Reset Password</h3>
            {{ form.csrf_token }}
        
        <p>
            {% for error in form.newPassword.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.newPassword.label }}
            {{ form.newPassword(class="form-control", placeholder="Enter email") }}
        </p>

        <p>
            {% for error in form.confirmNewPassword.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.confirmNewPassword.label }}
            {{ form.confirmNewPassword(class="form-control", placeholder="Enter email") }}
        </p>

        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
        
    </form>
{% else %}
    <h3>
    </h3>

{% endif %}
{% endblock %}