{% extends "base.html" %}
{% block title %} Reset Email {% endblock %}

{%block content%}

{% if user.is_authenticated %}
    <form action="" method="POST">
        <br/>
        <h3 align="center">Reset Email</h3>
            {{ form.csrf_token }}

        <p>
            {% for error in form.newEmail.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.newEmail.label }}
            {{ form.newEmail(class="form-control", placeholder="Enter email") }}
        </p>

        <p>
            {% for error in form.confirmNewEmail.errors %} <p> <font color="red">{{ error }} </font> </p> {% endfor %}
            {{ form.confirmNewEmail.label }}
            {{ form.confirmNewEmail(class="form-control", placeholder="Enter email") }}
        </p>

        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>

    </form>
{% else %}
    <h3>
    </h3>

{% endif %}
{% endblock %}