{% extends "base.html" %}
{% block title %} Resume {% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;"><a href="./statics/pdf_files/Jordan_Williams_Resume_2025.pdf" download="Jordan Williams Resume">Resume</a></h2>
<br>
<p align="center">If on mobile, click the above link to download</p>
<br>
<div class="embed-responsive  embed-responsive-1by1">
<iframe class="embed-responsive-item" src="/statics/pdf_files/Jordan_Williams_Resume_2025.pdf"
width="100%" height="100%" allow="autoplay"></iframe>
</div>
<br>
<br>
{% endblock %}