<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} Snake {% endblock %}

{%block content%}
<br>
<h1 style="text-align: center;" class="myHeader">My Snake Project</h1>


            <h6 id="snake_info" class="textbg" style="text-align: center;" border="0px solid">
               This project is a replica of the classic game Snake. I built it using Simple DirectMedia Layer (SDL), a library used to build graphic applications with C++.
               This project can be found on my github.
               <a href="https://github.com/jcw7199/Snake" target="_blank">Github Repository</a>
            </h6>
            <p>
                <video style="width:70vw; margin-left:auto; margin-right: auto;" class="img-fluid img-thumbnail snake_center" controls>
                    <source src='/statics/videos/Snake Demo Video.mp4' type ='video/mp4'>
                </video>
            </p>


{%endblock%}
