
{% extends "base.html" %}
{% block title %} Spotify Overlay {% endblock %}

{%block content%}
<br>
<h1 style="text-align: center;" class="myHeader">My Spotify Overlay Project</h1>
<div class="container table-responsive-md">
  <div class="row">
    <div class="col-12">
		<table class="table-image" style="margin-left:auto; margin-right:auto;">
		  <tbody>
		    <tr>
		      <td>
                <h6 id="spotify_info" class= 'textbg' style="width:50vw; margin-left:auto; margin-right: auto;">
                    This project is an overlay for spotify, allowing the user to do other tasks without having to alt tab to adjust spotify playback.
                    This app can control spotify on all your devices! I built it using PyQt5, a graphic user interface toolkit, and pyCurl, a python
                    interface allowing one to make http requests.
                    This project can be found on my github.
                   <a href="https://github.com/jcw7199/SpotifyOverlay" target="_blank">Github Repository</a>
                </h6>

            </td>
            </tr>
		  </tbody>
		</table>
		<video style="width:70vw; margin-left:auto; margin-right: auto;" class="img-fluid img-thumbnail snake_center" controls>
                    <source src='/statics/videos/Spotify Overlay Demo Video.mp4' type ='video/mp4' alt="video of overlay in action">
        </video>
    </div>
  </div>
</div>

{%endblock%}
