{% extends "base.html" %}
{% block title %} Save Password {% endblock %}

{%block content%}


<br>
<h3 align="center"> Save Password </h3>
{% if user.savedPasswords %}
<h1></h1>
<table class="table table-dark table-striped table-bordered" id="passwords"> 
    <thead>
        <th scope=""col">Website/App Name</th>
        <th scope=""col">Username</th>
        <th scope=""col">Email</th>
        <th scope=""col">Password</th>
        <th scope=""col">Delete</th>
    </thead>
    <tbody>        
        {% for pass in user.savedPasswords %}
            <tr>
                <td>{{ pass.websiteAppName }}</td>
                <td>{{ pass.username }}</td>
                <td>{{ pass.email }}</td>
                <td>{{ pass.password }}</td>
                <td >
                    <form action="{{url_for('routes.deleteSavedPassword', password_id=pass.id)}}" method="post">
                        <input class="button btn btn-danger" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    <h3 align="center">No passwords saved yet</a></h3>
</p>
{% endif %}
<br/>
<br/>
<p>
    <h2 align="center"><a href="/save_password">Save a New Password</a></h2>
</p>

{% endblock %}