body
{
    background-color: DarkSlateGrey;
    color: white;

}

#aboutHeader
{    
    background-color: rgba(2, 38, 43, 0.7);
    margin-left: 20vw;
    width: 40%;
    border-radius: 20px;
    transition-duration: 0.3s;
}

#aboutHeader:hover
{
    background-color: rgb(2, 27, 27);
    transform: translateY(-5px) translateX(-5px);
    margin-bottom: 10px;
    box-shadow: 15px 15px black;
}



#selfie
{
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: 15vw;
    display: block;
   
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 30px;
    max-width: 100%;


    transition-property: background-color, width, height, border, border-radius, transform, box-shadow, padding;
    transition-duration: 1s;
}


#selfie:hover
{ 
    background-color: darkslategray;
    border: 1px solid darkslategray;
    width: 20vw;
    height: 20vw;
    transform: translateY(-2px);
    box-shadow: 20px 20px black;
    
}

#aboutMe
{
    
    border-radius: 20px;
    transition-property: background-color, margin-bottom, box-shadow, padding-left, border, font-size;
    transition-duration: 0.3s;
    margin-bottom: 5px;
    background-color: rgba(2, 38, 43, 0.7);
    padding: 8px;
    
}

#aboutMe:hover
{
    background-color: rgb(2, 27, 27);
    border: 1px solid rgb(2, 30, 30); 
    box-shadow: 15px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}


input, select, textarea
{
    color: black;
}


.bg-image{

    position: fixed;
    margin-left:auto;
    margin-right:auto;
    left: 0;
    right: 0;
    z-index: -1;
    display: inline;
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url("../images/office2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.form-control *
{
    color: black;
}

.navbar .navbar-nav .nav-link:hover {
    color: DarkSlateGrey !important;
    background-color: white !important;
}

.navbar {
    padding: 0;
}

.dropdown-menu {
    padding: 0;
    margin: -2px;
}

.navbar .navbar-nav .nav-link
{
    padding: 1em;
    transition: all .2s;

}

a
{
color: white;
}

.myP
{

    word-wrap: break-word;
    width: 40vw;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}

#resume_info a:hover, #contact_info a:hover
{
    color: red;
}

#snake_info, #spotify_info, #contact_info, #resume_info 
{
    background-color: rgba(2, 27, 27, 0.7);
    border-radius: 20px;
    
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    width: 40vw;
    transition-duration: 0.3s;
    transition-property: background-color, border, box-shadow, margin-bottom, padding, font-size;
}

#contact_info
{
    width: 30vw
}

#snake_info:hover, #spotify_info:hover, #contact_info:hover, #resume_info:hover
{
    background-color: rgb(2, 27, 27);
    border: 1px solid rgb(2, 30, 30); 
    box-shadow: 15px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}
.snake_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}